.flex{
    display: flex;
}
.products {
    img{
    width: 100px;
    gap: 40px;
}
}
.fservices{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px 0 ;

}
.avis{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px 0 ;
}
.avantage{
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 80px 0;
}
.menu{
    display: flex;
    justify-content: right;
    gap: 25px;
    padding: 20px;
    text-decoration: none;
    list-style: none;
    color: white;
    
    
    
}
.ben{
    justify-content: center;
    text-align: center;
    
}
.prod{
    justify-content: center;
    text-align: center;

}
.ser{
    justify-content: center;
    text-align: center;

}
.tem{
    justify-content: center;
    text-align: center;
}
.menu2{
     display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 10px;
    text-align: right;
}
.hero1{
    text-align: center;
    padding: 80px 20px;
    background-color: #1f6f78 ; 
    color: rgb(248, 247, 247);
    font-family: "DM Sans", sans-serif;


}
button{
    display: inline-block;
    padding: 10px 16px;
    border: none;
    color: white;
    background-color: rgb(165, 163, 163);
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    

}
.hero2{
    margin: 80px 0 ;
    text-align: center;
}
.site-footer{
    padding: 80px 60px 40px;
      font-family: "DM Sans", sans-serif;
      background-color: #1f6f78;
    color: white;
}



